@model ZolotoyUzor.Models.Paint

@{
	ViewBag.Title = "Item";
}

<h2>Item</h2>

<div>@Model.Id</div>
<div>@Model.Name</div>
<div>@Model.Description</div>
<div>@Model.Price</div>
<div>@Model.Volume</div>
<hr />